body
{
    background-image: url(http://365psd.ru/images/backgrounds/paper-1.jpg);
}

.page
{
    -webkit-column-count: 4;
    -webkit-column-rule: 2px solid #000;
    -moz-column-count: 4;
    -moz-column-rule: 2px solid #000;
    column-count: 4;
    column-rule: 2px solid #000;
    -moz-hyphens: auto;     /*Работает в мозилле*/
    hyphens: auto;
}

p
{
    margin: 0;
    padding: 10px;
    text-align: justify;
    font-family: Lora, serif;
    line-height: 22px;
}

main p:first-letter
{
    font: 2em Dancing Script, cursive;
}

h1
{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Exo, sans-serif;
    text-transform: uppercase;
}

h2
{
    margin: 7px;
    font: 1.3em Yanone Kaffeesatz, sans-serif;
    text-align: center;
}

img
{
    width: 100%;
}

header p
{
    padding: 0;
    text-align: center;
    width: 100%;
}

.header
{
    width: 200px;
}

.author
{
    line-height: 20px;
    font: 1.1em Bree Serif, serif;
    padding-top: 10px;
    float: right;
}

.more p
{
    font: 1.1em Kaushan Script, cursive;
}

figure
{
    margin: 0;
}

figcaption
{
    font-size: .8em;
    text-align: center;
}

blockquote
{
    margin: 5px 30px;
    font: 1.4em Bangers, fantasy;
}

.notab
{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.nopadding
{
    padding-top: 0;
}
