body
{
    background-image: url(http://bgfons.com/upload/paper_texture331.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
}

.page
{
    -webkit-column-count: 4;
    -webkit-column-rule: 2px solid #000;
    -moz-column-count: 4;
    -moz-column-rule: 2px solid #000;
    column-count: 4;
    column-rule: 2px solid #000;
    -moz-hyphens: auto;     /*Работает в мозилле*/
    hyphens: auto;
}

p
{
    margin: 0;
    padding: 10px;
    text-align: justify;
    font: 15px Lora, serif;
    line-height: 22px;
}

main p:first-letter
{
    font: 2em Dancing Script, cursive;
}

h1
{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Exo, sans-serif;
    text-transform: uppercase;
}

h2
{
    margin: 7px;
    font: 1.3em Yanone Kaffeesatz, sans-serif;
    text-align: center;
}

img
{
    width: 100%;
}

header
{
    padding: 0;
    text-align: center;
    width: 100%;
}

.header
{
    width: 200px;
}

.author
{
    line-height: 20px;
    font: 1.1em 'Bree Serif', serif;
    padding-top: 10px;
    float: right;
}

.more
{
    font: 1.1em Kaushan Script, cursive;
}

figure
{
    margin: 0;
}

figcaption
{
    font-size: .8em;
    text-align: center;
}

blockquote
{
    margin: 5px 30px;
    font: 1.4em Bangers, fantasy;
}

.notab
{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.nopadding
{
    padding-top: 0;
}

#lora:checked ~ main article div p
{
    font-family: Lora, serif;
}

#slabo:checked ~ main article div p
{
    font-family: 'Slabo 27px';
}

#cover:checked ~ main article div p
{
    font-family: Covered By Your Grace;
}

#fifteen:checked ~ main article div p
{
    font-size: 15px;
}

#eighteen:checked ~ main article div p
{
    font-size: 18px;
}

#twentyone:checked ~ main article div p
{
    font-size: 21px;
}

.adding
{
    font: 20px Dancing Script, cursive;
}

#white:checked ~ main
{
    background-image: url(http://elitefon.ru/images/201211/elitefon.ru_10450.jpg);
    color: #fff;
}

#black:checked ~ main
{
    background: none;
    color: #000;
}
